.SimpleBadge {
  text-decoration: none;
  display: inline-block !important;
  color: white !important;
  background-color: #545454;
  border-radius: 2px;
  padding: 0 0.2em 0 0.2em;
}
.hljs {
  font-size: larger;
}
.right-column {
  line-height: 1.5rem;
}
.left-column ul {
  list-style-type: none;
  padding: 0;
}
.logo > img {
  max-width: 170px;
}

.tm, .tm2 {
  font-family: 'Source Code Pro', monospace;
}
.tm {
  background-color: lightgreen;
}
.tm2 {
  background-color: lightcoral;
}
body {
  font-family: 'Ruda', sans-serif;
}
footer {
  padding: 1em;
  border-top: 1px dashed;
}