<!doctype html>
<html lang="en" class="no-js">
  <block-head />
  <body>
    <ajax-loader />
    <container>
      <row>
        <column md-3>
          <div class="logo">
            <img src="img/logo.jpg" alt="{{ name }} logo">
          </div>
          <div class="badges">
            <github-badge name="{{ name }}" org="{{ org }}" />
            <npm-badge package="{{ full-name }}">_{{ name }}_</npm-badge>
          </div>

          ### Pages

          <Pages />

          <social-buttons />
        </column>
        <column md-9 id="Content">
          {{ content }}
        </column>
      </row>
    </container>
    <block-footer />
  </body>
</html>