<!doctype html>
<html lang="en" class="no-js h-100">
  <block-head />
  <body class="d-flex flex-column h-100">
    <ajax-loader />
    <main role="main" class="flex-shrink-0">
      <container>
        <row>
          <column md-3>
            <div class="logo">
              <img src="img/logo.jpg" alt="{{ name }} logo">
            </div>
            <div class="badges">
              <github-badge name="{{ name }}" org="{{ org }}" />
              <npm-badge package="{{ full-name }}">_{{ name }}_</npm-badge>
            </div>

            ### Pages

            <pages />

            <social-buttons meta />
          </column>
          <column md-9 id="Content">
            {{ content }}
          </column>
        </row>
      </container>
    </main>
    <block-footer />
  </body>
</html>